mixin sWatchSports22(i, b)
	// start sWatchSports22
	+b.SECTION.sWatchSports22.bg-wrap.section#sWatchSports22&attributes(attributes)
		picture.picture-bg
			source(type='image/webp' srcset='img/@2x/webp/watch22-bg-lg.webp' media='(min-width:992px)')
			source(type='image/webp' srcset='img/@2x/webp/watch22-bg-sm.webp')
			source(type='image/png' srcset='img/@2x/watch22-bg-lg.png' media='(min-width:992px)')
			source(type='image/png' srcset='img/@2x/watch22-bg-sm.png')
			img.object-fit-js(src='img/@2x/watch22-bg-lg.png' alt='' loading='lazy')
		+e.logo
			img(src="img/@2x/logo-22.png", alt="")
		+e.main
			+e.wrap
				picture
					source(type='image/webp' srcset=`img/@2x/webp/sWatchSports22-${i}.webp`)
					img.text-img(src=`img/@2x/sWatchSports22-${i}.png`, alt="")
				img.bg(src=`img/svg/Ellipse.svg`, alt="")
			block
		+e.btn(href="https://stv.one/22bet_streaming")
			span!= b
	// end sWatchSports22

mixin sWatchSports22Alt(i, b, and)
	// start sWatchSports22
	+b.SECTION.sWatchSports22--alt.bg-wrap.section#sWatchSports22&attributes(attributes)
		picture.picture-bg
			source(type='image/webp' srcset='img/@2x/webp/watch22alt-bg-lg.webp' media='(min-width:992px)')
			source(type='image/webp' srcset='img/@2x/webp/watch22alt-bg-sm.webp')
			source(type='image/png' srcset='img/@2x/watch22alt-bg-lg.png' media='(min-width:992px)')
			source(type='image/png' srcset='img/@2x/watch22alt-bg-sm.png')
			img.object-fit-js(src='img/@2x/watch22alt-bg-lg.png' alt='' loading='lazy')
		+e.logo
			img(src="img/@2x/logo-22.png", alt="")
		+e.main
			+e.wrap
				.row.align-items-center.justify-content-center
					.col-xl
						img(src=`img/svg/sWatchLive-${i}.svg`, alt="")
					.col-xl-auto
						p!= and
					.col-xl
						img(src=`img/svg/freebets-${i}.svg`, alt="")
			block
		+e.btn(href="https://stv.one/22bet_streaming")
			span!= b
	// end sWatchSports22

